
<div class="container" style="text-align: left">
    <h2>Payments</h2>
    <p>All Company Payments:</p>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Account</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="income in incomes | filter:searchText">
            <td>{{income.date}}</td>
            <td>{{income.description}}</td>
            <td>{{income.amount}}</td>
        </tr>
        </tbody>
    </table>
</div>